body{
    background-color: #02041f;
    color: grey;
    font-family: 'Nunito', sans-serif;
}

.sectionheader{
    font-size: 39px;
    color: lightblue;
    text-decoration: underline;
    padding-left: 50px;
}

.problems{
    font-size: 25px;
    padding-left: 50px;
    color: lightskyblue;
    text-decoration: underline;
}

.answer{
    font-size: 25px;
    padding-left: 100px;
    padding-right: 50px;
    color: grey;
}

li{
    padding-left: 100px;
    font-size: 25px;
    padding-right: 50px;
    color: grey;
}

#title{
    text-align: center;
    font-size: 55px;
    color: white;
    padding-bottom: 0;
}

#subtitle{
    font-size: 25px;
    color: grey;
    padding-left: 50px;
}

#contents{
    padding: 30px;
    margin: 50px;
    border: 5px solid white;
    border-radius: 50px;
}

.contentlink{
    font-size: 25px;
    text-decoration: none;
    color: lightgreen;
    scroll-padding-right: 40px;
}

.contentlink:hover{
    text-decoration: underline;
    color: #5486d6;
    transition: 1.0s;
    
}

#contentheader{
    font-size: 32.5px;
    color: white;
    margin: 25px;
    text-decoration: underline;
}
#author{
    padding-left: 50px;
    font-size: 20px;
    color: #44546e;

}

.name{
    font-weight: bolder;
}

#info1{
    padding-left: 50px;
    font-size: 25px;
    margin-right: 40px;
}

.flex{
    display: flex;
}

#image1{
    margin-top: 50px;
    height: 275px;
    margin-right: 20px;
}

.caption{
    color: #44546e;
    font-size: 20px;
}