body{
    background-color: black;
    color: white;
}

.sectionheader{
    font-size: 39px;
    color: lightblue;
    text-decoration: underline;
    padding-left: 50px;
}

.problems{
    font-size: 30px;
    padding-left: 50px;
    color: lightskyblue;
    text-decoration: underline;
}

.answer{
    font-size: 25px;
    padding-left: 75px;
    padding-right: 50px;
    color: grey;
}

li{
    padding-left: 75px;
    font-size: 25px;
    padding-right: 50px;
    color: grey;
}